body {
  margin: 0;
  }

  @font-face {
    font-family: Lora-Regular;
    src: url('fonts/Lora-Regular.ttf');
  }

  @font-face {
    font-family: Ubuntu-Bold;
    src: url('fonts/Ubuntu-Bold.ttf');
  }

  @font-face {
    font-family: Ubuntu-Light;
    src: url('fonts/Ubuntu-Light.ttf');
  }

  @font-face {
    font-family: Segoe-UI;
    src: url('fonts/segoe-ui.ttf');
  }

  .container {
    width: 558px;
    border: 2px solid #EBEBEB;
    margin: 0 auto;
  }

  .header {
    height: 330px;
    width: 100%;
    margin-bottom: 58px;
    padding: 0;
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
  }

  .title {
    width: 319px;
    height: 55px;
    margin-left: 123px;
    margin-top: 47px;
    display: block;
    text-align: justify;
  }

  .heading {
    font-family: Lora-Regular;
    font-size: 33px;
    letter-spacing: 0;
    color: #143774;
    margin: 0;
    display: block;
    text-align: justify;
  }

   .blog {
    font-family: Ubuntu-Bold;
    font-size: 12px;
    letter-spacing: 2.3px;
    align-content: stretch;
    height: 13px;
    color: #1792D2;
    margin: 0;
    display: block;
    text-align: justify;
    white-space: nowrap;
  }

  .nav {
    width: 152px;
    height: 126px;
    text-align: center;
    margin-top: 40.52px;
    margin-left: 206px;
    margin-bottom: 0;
  }

  .nav a {
    color: #717171;
    font-family: Ubuntu-Bold;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3.2px;
    display: block;
    margin-bottom: 39px;
    text-decoration: none;
  }

  .nav a:hover {
    text-decoration: underline;
  }

  .intro {
    width: 518px;
    height: 583px;
    margin: 0 20px 42.5px;
    display: block;
  }

  .intro img {
    width: 100%;
    height: 308px;
    margin-bottom: 25px;
  }

  .image {
    overflow: hidden;
  }

  .image img:hover {
    transform: scale(1.1);
  }

  .image img {
    transform: scale(1);
    transition: transform .3s ease-out;
  }

  .intro figcaption, .cooking figcaption {
    width: 174px;
    height: 19px;
    font-family: Segoe-UI;
    font-size: 14px;
    letter-spacing: 0.2px;
    margin-top: 0;
    margin-bottom: 13px;
    color: #707070;
    line-height: 19px;
  }

  .intro article {
    width: 100%;
    height: 250px;
    margin-bottom: 0;
  }

  .first {
    font-family: Lora-Regular;
    width: 267px;
    height: 31px;
    font-size: 24px;
    color: #143774;
    text-align: justify;
    margin: 0;
  }

  .second {
    font-family: Ubuntu-Light;
    font-size: 18px;
    color: #707070;
    line-height: 28px;
  }

  .second strong {
    font-family: Ubuntu-Bold;
  }

  .second a {
    font-family: Ubuntu-Light;
    font-size: 18px;
    text-decoration: underline;
    color: #1792D2;
    letter-spacing: 1px;
  }

  .third {
    font-family: Ubuntu-Bold;
    font-size: 14px;
    letter-spacing: 2.8px;
    color: #1792D2;
    text-decoration: none;
  }

  .third:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  hr.after-intro {
    width: 518px;
    margin-bottom: 41.5px;
  }

  .cooking, .work-space, .decor {
    width: 517px;
    height: 447px;
    margin: 0 20px 52px;
  }

  .cooking img, .work-space img, .decor img {
    width: 517px;
    height: 242px;
    margin-bottom: 11px;
  }

  .cooking article, .work-space article, .decor article {
    width: 100%;
    height: 194px;
    display: inline;
  }

  .cooking figcaption, .work-space figcaption, .decor figcaption {
    font-family: Segoe-UI;
    font-size: 14px;
    line-height: 18px;
    color: #707070;
    float: right;
    margin-top: 0;
    margin-right: 40px;
  }

  .traveller {
    width: 518px;
    height: 303px;
    border: 20px solid #EBEBEB;
    box-sizing: border-box;
    align-items: center;
    margin: auto;
  }

  .traveller img {
    width: 428px;
    height: 133px;
    object-fit: cover;
    margin: 62px 25px 0;
  }

  .traveller p {
    font-family: Ubuntu-Light;
    font-size: 14px;
    line-height: 16px;
    color: #143774;
    text-align: left;
    margin-left: 25px;
  }

  .posts {
    width: 518px;
    height: 564px;
    margin: 78px 20px 70.44px;
    border: 20px solid #EBEBEB;
    box-sizing: border-box;
    padding-bottom: 0;
  }


  .posts img {
    width: 420px;
    height: 87px;
    object-fit: cover;
    margin-left: 26px;
  }

  .posts img:nth-child(3) {
    margin-bottom: 63px;
  }

  .recent-posts h3 {
    font-family: Lora-Regular;
    letter-spacing: 1.5px;
    color: #143774;
    font-weight: bold;
    margin-left: 26px;
  }

  hr {
    width: 420px;
    align-self: center;
  }

  .link {
    font-family: Lora-Regular;
    font-size: 18px;
    color: #143774;
    margin-top: 8px;
    margin-left: 26px;
    padding-top: 0;
    text-decoration: none;
  }

  .link:hover {
    text-decoration: underline;
  }

  .posts p:nth-child(3) {
    margin-bottom: 10px;
  }

  .footer {
    width: 557px;
    height: 208.56px;
    background-color: #143774;
    display: block;
    margin: auto;
  }

  .footer .capture {
    font-family: Ubuntu-Bold;
    font-size: 18px;
    color: #FFFFFF;
    opacity: 0.54;
    padding-bottom: 0;
    margin: auto;;
  }

  .footer .copyright {
    font-family: Ubuntu-Light;
    color: #FFFFFF;
    opacity: 0.54;
    margin: auto;
  }

    .captures {
      width: 100%;
      height: 52px;
      padding-top: 78px;
      text-align: center;
  }
}
